@import "tailwindcss";

.bg-primary {
  background: #2563eb;
  background: linear-gradient(135deg, #2563eb, #0f1a37);
}

.bg-primary-circle {
  background: #2563eb;
  background: radial-gradient(at left top, #2563eb, #0f1a37);
}
